.ButtonRegister {
background-color:  #AF6850;
color: white;
width: 200px;
height: 45px;
font-family: sans-serif;
border-radius: 30px;
border: none;
outline: none;
text-transform: uppercase;
width: 200px;
height: 45px;
}