.contenedor_chat{
    background: #FAE9E2;
    width: 100%;
    height: 100vh;
    margin: 0;

    .container-info{
        .contenedorWindowChat{
            margin: 40px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .link-nav {
                text-decoration: none;
            }
        }
    }


}
