select {
    margin: 0 5px;
    border-radius: 15px;
    padding: 5px;
    color: #9D8189;
    border: 2px solid #9D8189;

}
.question{
    margin: 25px 0px 15px 0px;
}
.daySelect {
    width: 60px;
    height: 35px;
}

.monthSelect {
    width: 100px;
    height: 35px;
}
.yearSelect {
    width: 80px;
    height: 35px;
}