.specialists-container {
  width: 100vw;
  min-height: calc(100vh - 52px);
  background-color:#FAE9E2;
.section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 60px 0;

}
}